{% extends "template.html" %}
{% block title %}- My CV{% endblock %}
{% block content %}
<h1>Oliver Wright <small>- <a href="mailto:meiamsome@meiamso.me" >meiamsome</a></small></h1>
<h2>About Me </h2>
<div class="panel panel-default">
    <div class="panel-body">
        <p>
            From an early age, I've been a hobbyist programmer. I am currently working on obtaining my degree in Computer Science and Electronics that will make it possible for me to continue to do what I love as a profession. I am involved in a few projects with friends that I manage in my free time.
        </p>
    </div>
</div>
<h2>Experience </h2>
<h3>University of Bristol <small>2014 - Present</small></h3>
<ul class ="list-group">
    <li class="list-group-item">
        <h4>IT Technician</h4>
        <p>This position involves providing technical support to other students at the university. This is done in daily walk-in sessions where students can bring along their laptops or mobiles and ask for technical support. The support is extensive, including antivirus, program installation and debugging of problems. This position therefor demands both good technical skills as well as being able to communicate with the customers in a suitable way.</p>
    </li>
</ul>

<h3>Poppy.meiamso.me <small>2014 - Present, Personal Project</small></h3>
<ul class ="list-group">
    <li class="list-group-item">
        <h4>System Administrator</h4>
        <p>I manage my own VPS, including managing the software installed and the settings of all of the programs. Poppy is currently the server hosting three websites including my website (<a href="http://meiamso.me/" target="_blank">meiamso.me</a>) and the websites of two of my friends: <a href="http://adomasven.com" target="_blank">Adomas Ven</a> and <a href="http://albertwigmore.co.uk" target="_blank">Albert Wigmore</a>. I also use poppy for various projects that require an always-on system and Poppy is currently running a MySQL server.</p>
    </li>
</ul>
<h3>Oni Clan Gaming <small>2012 - Present, Volunteer</small></h3>
<ul class ="list-group">
    <li class="list-group-item">
        <h4>Administrator</h4>
         <p>My role in Oni Clan Gaming is multifaceted - including providing a friendly face for the users as well as performing vital background service. In this position, I have developed many in-house plugins for Oni Clan Gaming's Bukkit Server as well as helping to debug it when there are issues. In addition, as a member and leader of the OniCraft moderator team I am responsible for the moderation and enforcement of various rules on the users. As one of the leaders of the moderator team, I help in situations where there are disagreements between users and moderators or when rule clarifications are necessary. I administrate on the server in my own time.</p>
        <small><a href="http://oniclangaming.com/" target = "_blank">View Oni Clan Gaming's website <span class="glyphicon glyphicon-new-window"></span></a></small>
    </li>
</ul>
<h3>RealGamerNewz <small>2011 - Present, Volunteer</small></h3>
<ul class = "list-group">
    <li class = "list-group-item">
        <h4>Lead Programmer</h4>
        <p>
            My Role in RealGamerNewz is primarily web-based. I have coded two Wordpress Themes for RealGamerNewz as the site has developed - including the current and more responsive design. I was given a rough outline of the design and have since adapted it into its' current form. In the future I am looking to develop the theme to apply a lot more of the responsive design principles. In this position I have also programmed several custom Wordpress Plugins to add features for the RealGamerNewz' writing staff. I work on RealGamerNewz when I have free time.
        </p>
        <small><a href="http://realgamernewz.com/" target = "_blank">View RealGamerNewz' website <span class="glyphicon glyphicon-new-window"></span></a></small>
    </li>
</ul>


<h2>Education</h2>
<h3>University of Bristol <small>2013 -  Present</small></h3>
<ul class="list-group">
    <li class="list-group-item">
        <h4>MEng Computer Science and Electronics</h4>
        <blockquote>
        <p>This course is a joint degree between the departments of Computer Science and Electrical and Electronic Engineering. It has been designed to meet the needs of the modern computer and electronics industries.</p>
        <footer><cite title="University of Bristol">University of Bristol</cite></footer>
        </blockquote>
        <small><a href = "http://www.bristol.ac.uk/study/undergraduate/2015/electrical-electronic-eng/meng-comp-sci-electronics/" target = "_blank">View the Computer Science and Electronics course on the University of Bristol's Website <span class="glyphicon glyphicon-new-window"></span></a></small>
    </li>
</ul>
<h3>Worthing College <small>2011 - 2013</small></h3>
<table class="table table-striped table-condensed table-bordered">
    <tr><th>Subject</th>                  <th>Level</th><th>Grade</th></tr>
    <tr><td>Electronics</td>            <td>A-Level</td><td>A*</td></tr>
    <tr><td>Mathematics</td>            <td>A-Level</td><td>A*</td></tr>
    <tr><td>Further Mathematics</td>    <td>A-Level</td><td>A</td></tr>
</table>
<h3>St. Andrews C of E High School <small>2007 - 2011</small></h3>
<!--    <ul class ="list-group">
    <li class="list-group-item"> -->
        <table class="table table-striped table-condensed table-bordered">
            <tr><th>Subject</th>               <th>Level</th><th>Grade</th></tr>
            <tr><td>Advanced Mathematics</td>   <td>FSMQ</td><td>A</td></tr>
            <tr><td>Mathematics</td>            <td>GCSE</td><td>A*</td></tr>
            <tr><td>ICT</td>                    <td>GCSE</td><td>A*</td></tr>
            <tr><td>Business Studies</td>       <td>GCSE</td><td>A</td></tr>
            <tr><td>Chemistry</td>              <td>GCSE</td><td>A</td></tr>
            <tr><td>Physics</td>                <td>GCSE</td><td>A</td></tr>
            <tr><td>Statistics</td>             <td>GCSE</td><td>A</td></tr>
            <tr><td>Religious Studies A</td>    <td>GCSE</td><td>A</td></tr>
            <tr><td>English Language</td>       <td>GCSE</td><td>B</td></tr>
            <tr><td>Biology</td>                <td>GCSE</td><td>B</td></tr>
            <tr><td>Media Studies</td>          <td>GCSE</td><td>C</td></tr>
            <tr><td>German</td>                 <td>GCSE</td><td>C</td></tr>
        </table>
 <!--   </li>
</ul>-->
{% endblock %}